next
node_modules
.env
.env.local
.env*.local
*.db
*.db-journal
.DS_Store
uploads
data
.next
coverage
dist
*.log
.firebase/
*.json
!package.json
!package-lock.json
!tsconfig.json
!.eslintrc.json
firebase-service-account.json
*-firebase-adminsdk-*.json
